#HomePage {
  text-align: center;
  padding-block: min(10vh, 10rem);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 500px;
  margin: auto;
}

#Slogan {
  font-size: 4rem;
}

@media (min-width: 420px) {
  #Slogan {
    font-size: 6rem;
  }
}

#HomePage button {
  padding: 1rem;
  font-size: 2rem;
  transition: transform 0.2s ease;
}

#HomePage button:hover {
  transform: scale(1.1);
}
