#ProductList {
  width: 80vw;
  margin: auto;
  padding-block: min(5vh, 5vh);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.Product {
  background-color: #cccccc;
  max-width: 200px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #777777;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Product:hover {
  transform: scale(1.1);
}

.Product img {
  width: 100px;
}

.AmountToAdd {
  display: flex;
  justify-content: space-between;
  border: 1px solid #777777;
  border-radius: 7px;
  padding: 0.5rem;
  background-color: #eeeeee;
}

.AmountToAdd input {
  outline: none;
  width: 100%;
  border: none;
  text-align: center;
  background-color: #eeeeee;
}

.AmountToAdd button {
  background-color: white;
  color: var(--dark);
  width: 1rem;
  font-size: 1rem;
}

.AddToCart {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 0.5rem;
  margin-block: 0.5rem;
}
